In [64]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import chromedriver_autoinstaller
import csv
import time

In [65]:
#INSTALL BROWSER SUCH CHROME OR EDGE
chromedriver_autoinstaller.install()

#USE THE INSTALLED BROWSER FOR SELENIUM
browser = webdriver.Chrome()

In [66]:
data = []

for index in range (1,10):
    browser.get(f'https://www.traveloka.com/en-id/activities/search?st=GEO&eid=102746&sort=TRENDING&theme=DAY_TOUR&funnel_source=Merchandising.AA.Category-DAY_TOUR-web-ID-LandingPage&funnel_id=48191&internal_source=true{index}')
    time.sleep(5)
    soup = BeautifulSoup(browser.page_source,"lxml")
    rows = soup.find_all('div', class_='css-1dbjc4n r-16y2uox r-1wbh5a2 r-1wtj0ep r-1e081e0 r-1yzf0co')
    
    for row in rows:
        nama_wisata = row.find(class_='css-4rbku5 css-901oao css-cens5h r-t1w4ow r-ubezar r-b88u0q r-135wba7 r-c8eef1 r-fdjqy7').text
        lokasi_wisata = row.find(class_='css-901oao css-bfa6kz r-1ud240a r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-13hce6t r-fdjqy7').text
        rating_wisata = row.find(class_='css-901oao r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-13hce6t r-1d4mawv r-fdjqy7')
        if rating_wisata:
            rating_wisata = rating_wisata.text
        review = row.find(class_='css-901oao css-bfa6kz r-1ud240a r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7')
        if review:
            review = review.text
        harga_asli = row.find(class_='css-901oao r-1ud240a r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7 r-142tt33')
        if harga_asli:
            harga_asli = harga_asli.text
        harga_diskon = row.find(class_='css-901oao r-t1w4ow r-ubezar r-b88u0q r-rjixqe r-fdjqy7').text
        df = {
            'Name': nama_wisata,
            'Location': lokasi_wisata,
            'Rating': rating_wisata,
            'Total Review': review,
            'Price': harga_asli,
            'After Dicount': harga_diskon
            }
        data.append(df)

In [67]:
df = pd.DataFrame(data)

In [68]:
df

,Name,Location,Rating,Total Review,Price,After Dicount
0,Melasti Beach Kecak Dance Show,"Ungasan, Badung",10.0,(2 reviews),Rp 150.000,Rp 105.000
1,Bali - Nusa Penida 3 D 2 N by Bali Best Adventure,"Denpasar Selatan, Denpasar",10.0,(1 review),Rp 3.500.000,Rp 1.950.000
2,Tiket Fastboat ke Nusa Penida,"Nusa Penida, Klungkung",None,None,Rp 400.000,Rp 275.000
3,KOMANG ELOT SNORKELING,"Padangbai, Karangasem",None,None,Rp 250.000,Rp 212.500
4,BALI Nusa Penida Private Tours,"Nusa Penida, Klungkung",10.0,(101 reviews),Rp 290.000,Rp 269.000
...,...,...,...,...,...,...
130,Tour Bebas di Bali,"Kintamani, Bangli",9.7,(15 reviews),Rp 550.000,Rp 135.000
131,BALI DAY TRIP UBUD - ALVA TRAVELINDO,"Denpasar Barat, Denpasar",None,None,Rp 180.000,Rp 153.000
132,Bali Blue Lagoon Snorkeling,"Padangbai, Karangasem",None,None,Rp 400.000,Rp 199.111
133,OPEN TRIP BALI NUSAPENIDA 4 HARI 1 MALAM 19-22...,"Nusa Penida, Klungkung",None,None,Rp 2.200.000,Rp 1.870.000
134,NUSA PENIDA BALI PRIVATE TOUR - ALVA TRAVELINDO,"Denpasar Barat, Denpasar",None,None,Rp 350.000,Rp 297.500

In [71]:
import pandas as pd

# Save the DataFrame to a CSV file
df.to_csv('Tempat Wisata Bali.csv', index=True)

In [72]:
df

,Name,Location,Rating,Total Review,Price,After Dicount
0,Melasti Beach Kecak Dance Show,"Ungasan, Badung",10.0,(2 reviews),Rp 150.000,Rp 105.000
1,Bali - Nusa Penida 3 D 2 N by Bali Best Adventure,"Denpasar Selatan, Denpasar",10.0,(1 review),Rp 3.500.000,Rp 1.950.000
2,Tiket Fastboat ke Nusa Penida,"Nusa Penida, Klungkung",None,None,Rp 400.000,Rp 275.000
3,KOMANG ELOT SNORKELING,"Padangbai, Karangasem",None,None,Rp 250.000,Rp 212.500
4,BALI Nusa Penida Private Tours,"Nusa Penida, Klungkung",10.0,(101 reviews),Rp 290.000,Rp 269.000
...,...,...,...,...,...,...
130,Tour Bebas di Bali,"Kintamani, Bangli",9.7,(15 reviews),Rp 550.000,Rp 135.000
131,BALI DAY TRIP UBUD - ALVA TRAVELINDO,"Denpasar Barat, Denpasar",None,None,Rp 180.000,Rp 153.000
132,Bali Blue Lagoon Snorkeling,"Padangbai, Karangasem",None,None,Rp 400.000,Rp 199.111
133,OPEN TRIP BALI NUSAPENIDA 4 HARI 1 MALAM 19-22...,"Nusa Penida, Klungkung",None,None,Rp 2.200.000,Rp 1.870.000
134,NUSA PENIDA BALI PRIVATE TOUR - ALVA TRAVELINDO,"Denpasar Barat, Denpasar",None,None,Rp 350.000,Rp 297.500